.back{
  width: 300px;
  height: 300px;
  background-color: white;
  position: absolute;
  top: 100px;
  left: 100px;
  border-radius: 100%;
}

.backLayer{
  position: absolute;
  top: 150px;
  left: 150px;
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
  border-radius: 100%;
}

.handleLayer{
  position: absolute;
  top: 100px;
  left: 100px;
  width: 300px;
  height: 300px;
}

.canvasWrap{
  position: relative;
}

body{
  margin: 0;
}

button{
  position: absolute;
  left: 420px;
  top: 450px;
  width: 70px;
  height: 30px;
  font-size: larger;
  background-color: white;
  border: none;
}

.canvasBody{
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: rgb(164, 219, 127);
}

.test{
  position: absolute;
  width: 250px;
  height: 500px;
  background-color: rgb(255, 241, 113);
}

#only_kinoko{
  position: absolute;
  width: 85px;
  height: auto;
  top: 220px;
  left: 12px;
}

#double_kinoko {
  position: absolute;
  width: 85px;
  height: auto;
  top: 12px;
  left: 170px;
}

#only_takenoko {
  position: absolute;
  width: 85px;
  height: auto;
  top: 220px;
  left: 408px;
}

#double_takenoko {
  position: absolute;
  width: 85px;
  height: auto;
  top: 12px;
  left: 245px;
}

#not{
  position: absolute;
  font-size: 50px;
  color: rgb(202, 26, 26);
  /*border: solid 3px white;*/
  top: 350px;
  left: 233px;
}