@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
}

#kinoko_takenoko_back{
  background-color: white;
}


.backLayer{
  position: absolute;
  width: 230px;
  height: 230px;
  background-color: rgb(237, 237, 237);
  top: 40px;
  left: 85px;
}

.back2::after{
  content: "";
	position: absolute;
	width: 3px; /* 縦棒の幅 */
	height: 215px; /* 縦棒の長さ */
 	background: #a2b0c1; /* 縦棒の色 */
  top: 55px;
  left: 84px;
}

.back::after {
	content: "";
	position: absolute;
	top: 269px; /* 横棒のy位置 280 */
	left: 84px;/* 横棒のX位置 */
	width: 220px; /* 横棒の長さ */
	height: 3px; /* 横棒の幅 */
	background: #a2b0c1; /* 横棒の色 */
}

.X_high{
  width: 0;
  height: 0;
  position: relative;
  top: 40px;
  left: 80px;
  border-style: solid;
  border-width: 0 5px  15px 5px;
  border-color: transparent transparent #a2b0c1 transparent;
}

.Y_high{
  width: 0;
  height: 0;
  position: relative;
  top: 250px;
  left: 300px;
  border-style: solid;
  border-width: 5px 0 5px 15px;
  border-color: transparent transparent transparent #a2b0c1 ;
}

.handleLayer{
  position: absolute;
  width: 250px;
  height: 250px;
}

.handle0 {
  top: 30px;
  left: 75px;
}

.handleBack{
  position: absolute;
  width: 230px;
  height: 230px;
  background-color: rgb(237, 237, 237);
  top: 160px;
  left: 80px;
  border-radius: 100%;
}

.handle_backLayer{
  position: absolute;
  width: 170px;
  height: 170px;
  background-color: rgb(255, 255, 255);
  top: 190px;
  left: 110px;
  border-radius: 100%;
}

.handle1{
  top: 150px;
  left: 70px;
  border-radius: 100%;
}

.handle_b1::after, .handle_b2::after, .handle_b3::after, .handle_b4::after{
  content: "";
	position: absolute;
 	background: #cccccc; /* 縦棒の色 */
}



.handle_b1::after{
  width: 3px; /* 縦棒の幅 */
	height: 46px; /* 縦棒の長さ */
  top: 360px;
  left: 194px;

}

.handle_b2::after{
	width: 3px; /* 縦棒の幅 */
	height: 46px; /* 縦棒の長さ */
  top: 144px;
  left: 194px;
}

.handle_b3::after{
	width: 40px; /* 縦棒の幅 */
	height: 3px; /* 縦棒の長さ */
  top: 270px;
  left: 70px;
}

.handle_b4::after{
	width: 40px; /* 縦棒の幅 */
	height: 3px; /* 縦棒の長さ */  
  top: 270px;
  left: 280px;
}

.canvasWrap{
  position: relative;
}

body{
  margin: 0;
}

.button_area{
  position: absolute;
  height: 60px;
  width: 600px;
  top: 1450px;
}

button{
  position: absolute;
  left: 330px;
  width: 100px;
  height: 30px;
  font-size: larger;
  margin-bottom: 30px;
}

.canvasBody{
  position: absolute;
  width: 460px;
  height: 460px;
}

#takenoko{
  background-color: rgb(164, 219, 127);
  top: 710px;
}

.test{
  position: absolute;
  width: 230px;
  height: 500px;
}

#kinoko{
  background-color: rgb(255, 241, 113);
}

#only_kinoko{
  position: absolute;
  width: 70px;
  height: auto;
  top: 230px;
  left: 22px;
}

#double_kinoko {
  position: absolute;
  width: 60px;
  height: auto;
  top: 75px;
  left: 180px;
}

#only_takenoko {
  position: absolute;
  width: 70px;
  height: auto;
  top: 230px;
  left: 370px;
}

#double_takenoko {
  position: absolute;
  width: 60px;
  height: auto;
  top: 75px;
  left: 220px;
}

#not{
  position: absolute;
  font-size: 50px;
  color: rgb(202, 26, 26);
  /*border: solid 3px white;*/
  top: 355px;
  left: 205px;
}

#test_both, #test2_both{
  position: absolute;
  top: 105px;
  left: 168px;
}

.good_h, .good_w, .bad_h, .kinoko, .takenoko, .mid, .other, .py, .js, .ot, .both{
  position: absolute;
}

.good_h{
  top: 272px;
  left: 285px;
}

.bad_h{
  position: absolute;
  top: 272px;
  left: 35px;
}

.good_w{
  position: absolute;
  top: 30px;
  left: 35px;
}


.f_js, .f_py, .f_kinoko, .f_take{
  position: absolute;
}

.f_js{
  top: 130px;
  left: 10px;
  font-size: large;
}

.f_py{
  top: 270px;
  left: 175px;
  font-size: large;
}

.f_kinoko{
  top: 130px;
  left: 10px;  
}

.f_take{
  top: 273px;
  left: 160px;  
}

.kinoko{
  top: 250px;
}

.takenoko{
  top: 250px;
  left: 330px;
}

.mid{
  top: 110px;
  left: 140px;
}

.other{
  top:400px;
  left: 160px;
}

.both{
  top: 100px;
  left: 165px;
}

.py{
  top: 240px;
}

.js{
  top: 240px;
  left: 340px;
}

.ot{
  top: 410px;
  left: 150px;
}

#test2_title{
  position: absolute;
  top: 40px;
  left: 40px;
  margin-top: 0;
  font-size: 14px;
}


.radio_test{
  position: absolute;
  top: 480px;
  left: 20px;
}

.radio_kinoko{
  position: absolute;
  top: 1230px;
  left: 20px;
  padding-bottom: 20px;
}

.radio_test *, .radio_kinoko *{
  text-align: left;
  padding: 5px;
  left: 10px;
}

h3{
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  padding: 5px;
}

.kinotake_h{
  z-index: 10;
  position: relative;
  margin: 10px 20px ;
}

.test{
  width: auto;
  height: 50px;
}



#test2{
  top: 390px;
  left: 10px;
  position: relative;
}

#test3{
  left: 10px;
}

#test1_title{
  position: relative;
  padding: 0;
  left: 30px;
  margin-top:15px;
  margin-bottom: 0;
}